body {
        background: linear-gradient(135deg, #908b8b, #ffffff);
        height: 100vh; /* Ajusta la altura al 100% de la viewport */
        margin: 0;
        }
        .cont-pa{
          display: grid;
          min-height: 100dvh;
          grid-template-rows: auto 1fr auto;
        }
div{
    background-color: #464343;
    padding: 20px;
    margin-top: 50px;
}
h1,p{
    text-align: center;
    color: white;
}