body {
  transition: background 1.5s ease, color 1.5s ease; /* Ajusta el tiempo a tu preferencia */
}
.bodyy {
  background: linear-gradient(to right, #908b8b, #ffffff);
  height: 100vh;
  width: 100%;
  transition: background 1.5s ease, color 1.5s ease;
  }
  .cont-pa{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
  }
  @media (max-width: 768px) {
    .cont-pa {
        grid-template-rows: auto auto;
    }

    footer {
        bottom: 0;
        left: 0;
        width: 100%;
        /* Otros estilos para el footer en dispositivos móviles */
    }
    .nav-link{
      display: none;
    }
    .iconson{
      display: flex;
    }
    .botcata{
      margin-left: 10px;
    }
    .logod{
      width: 50%;
      margin-right: 40px;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
   
    }
    footer {
        background-color: #3d3d3d;
        color: white;
        padding: 50px 0;
        text-align: center;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
      }
      
      .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center; /* Asegura que todo esté centrado */
        text-align: center;  /* Asegura el centrado del texto */
      }
      
      .footer-content h3 {
        font-size: 2.5em;
        margin: 10px 0;
      }
      
      .footer-content p {
        max-width: 500px;
        margin: 20px 0;
      }
      
      .social-icons {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center; /* Centra los íconos */
        gap: 20px;
        margin: 20px 0;
      }
      
      .social-icons li {
        display: inline;
      }
      
      .social-icons a {
        color: white;
        font-size: 1.5em;
        transition: color 1.3s ease;
      }
      
      .social-icons a:hover {
        color: #00BFFF;
      }
      
      .footer-bottom {
        margin-top: 10px;
        display: inline-flex;
      }
      
      .footer-bottom p {
        margin-left: 50px;
      }
      .footer-bottom a {
        margin: 0;
        text-decoration: none;
        color: white;
      }
      
      /* Media Queries para pantallas más pequeñas */
      @media (max-width: 768px) {
        .footer-content h3 {
          font-size: 2em;
        }
        
        .footer-content p {
          font-size: 1em;
          margin: 10px 0;
        }
        
        .social-icons a {
          font-size: 1.2em;
        }
        
      }
      
      @media (max-width: 480px) {
        .footer-content h3 {
          font-size: 1.5em;
        }
        
        .footer-content p {
          font-size: 0.9em;
        }
        
        .social-icons a {
          font-size: 1em;
        }
        
      }
      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2%;
        height: 75px;
      }
      
      .logod {
        display: flex;
        align-items: center;
      }
      
      .logod img {
        height: 200px; /* Ajusta el tamaño según tus necesidades */
        margin-top: 20px;
        margin-left: 20px;
        transition: filter 1s ease;
      }
      
      .nav-nav {
        background-color: #3d3d3d;
        margin:0 auto;
        padding: 20px;
        margin-left: 80px;
        border-radius: 20px;
      }
      
      .nav-nav a {
        text-decoration: none;
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: larger;
        padding: 20px;
      }
      .nav-nav a:hover{
        color: #779eaa;
      }
      
      @media (max-width: 768px) { /* Ajusta el punto de ruptura según tus necesidades */
        header {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: auto;
          justify-items: center;
          margin-bottom: 10%; /* Permite que el header se ajuste al contenido */
        }
        .nav-nav {
            margin-right: 22%; /* Elimina el margen derecho */
            flex-direction: column; /* Apila los elementos de navegación */
        }
        .nav-nav a {
            padding: 10px; /* Reduce el padding en dispositivos pequeños */
        }
      }
body.light-mode.bodyy {
  background: linear-gradient(to right, #908b8b, #ffffff);
  color: black;
  transition: background 1.5s ease, color 1.5s ease;
}

body.dark-mode.bodyy {
  background: linear-gradient(to left, #0e0e0e, #474444);
  color: white;
  transition: background 1.5s ease, color 1.5s ease;
  & .logod img{
    filter: invert(1);
  }
  & h1{
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
  } & .botcata{
    color: white;
  }
  & label{
    color: #d6d0d0;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
    transition: background-color 0.4s ease, border-color 0.4s ease, color 0.4s ease;
}
& input[type="text"],
input[type="email"],
input[type="tel"], 
textarea {
    font-family: sans-serif;
    width: 100%;
    padding: 2px;
    background: linear-gradient(135deg, #464646 20%, #141414 80%);
    border: rgb(65, 65, 65) solid 1px;
    margin-top: 10px;
    color: rgb(221, 214, 214);
}
& .cont-descripcion{
    background-color: rgba(56, 55, 55, 0.1);
    padding: 20px;
    border-radius: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  & .nav-nav{
    background-color: #cecdcd;
    transition: background-color 0.5s ease, color 0.5s ease;
    &.nav-nav a:hover{
      color: #69b7bd;
      width: 100%;
      border: transparent;
      border-radius: 30px;
      transition: background-color 0.5s ease, color 0.5s ease;
    }
    & a{
      color: #070606;
    }
  }
}
.iconson {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-right:15%;
}
.botcata{
  border: none;
  padding: 0;
  background: none;
  appearance: none;
  width: 60%;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.content{
  width: 100%;
  display: flex;
  margin-bottom: 80px;
  margin-top: auto;
  padding: 0px;
  min-height: 400px;
  max-width: 100vw;
  overflow-x: hidden;
}
form{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
}
.cont-fomr {
  font-size: 15px;
  font-family: sans-serif;
  width: 55%;
  margin: 10px;
  margin-left: 80px;
}

.error {
  font-family: sans-serif;
  color: red;
  font-size: 14px;
  display: none;
}

.result {
  position: relative; 
  margin-top: 20px;
  padding: 10px;
  display: none;
  text-align: center;
  border-radius: 30px;
  animation: slideInFromTop 0.5s ease-out;
}

/* Pseudo-elemento para la imagen de fondo */

.result::before {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://media.tenor.com/8GgvLjlWbOsAAAAM/chess.gif'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  opacity: 0.1; 
  z-index: -1;
  border-radius: 20px;
}

.result p, .result h3 {
  color: rgb(0, 0, 0); 
  position: relative; 
  z-index: 1; 
  opacity: 1;
}
@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0.1;
    transform: translateY(0);
  }
}
input{
  border-radius: 8px;
  height: 25px;
  padding: 5px;
}
textarea{
  border-radius: 8px;
}
input[type="text"],
input[type="email"],
input[type="tel"], 
textarea {
    font-family: sans-serif;
    max-width: 100%;
    padding: 2px;
    background: linear-gradient(135deg, #d6d0d0 20%, #bebcbc 80%);
    border: black solid 1px;
    margin-top: 10px;
    transition: background-color 0.4s ease, border-color 0.4s ease, color 0.4s ease;
    outline: none;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #e2e2e2 inset; /* Ajusta el color según prefieras */
    box-shadow: 0 0 0px 1000px #c7c5c5 inset;
    transition: background-color 5000s ease-in-out 0s; /* Solución para evitar el color de autocompletado */
    color: white; /* Ajusta el color del texto si es necesario */
}

  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #e2e2e2 inset; /* Ajusta el color según prefieras */
    box-shadow: 0 0 0px 1000px #c7c5c5 inset;
    transition: background-color 5000s ease-in-out 0s; /* Solución para evitar el color de autocompletado */
    color: white; /* Ajusta el color del texto si es necesario */
}

.enviar { 
display: flex;
flex-direction: column;
align-items: center;
}
input[type="submit"]{
    width: 40%;
    height: 50px;
    margin-top: 10px;
    background-color: black;
    color: #faf4f4;
    font-size: larger;
    border: 10px white;
}
input[type="submit"]:hover{
  width: 40%;
  margin-top: 10px;
  color: black;
  background-color: rgb(204, 204, 204);
  border: 10px white;
  font-size: larger;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.cont-descripcion{
  font-family: sans-serif;
  text-align: justify;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  color:rgb(0, 0, 0);
  padding: 20px;
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 80px;
  margin-top: 25px;
  width: 40%;
  max-height: 350px;
  animation: slideInFromRight 0.5s ease-out; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}
/* Animacion de la seccion de contactanos */
@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%); /* Empieza fuera de la vista, a la derecha */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Llega a su posición final */
  }
}
h1 {
  font-size: 26px;
  text-align: center;
  align-content: first baseline;
}
label{
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
}
/* Estilo del contenedor del dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilo del botón del dropdown */
.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Estilo del contenido del dropdown (oculto por defecto) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Estilo de los enlaces dentro del dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Cambia el color del enlace al pasar el mouse */
.dropdown-content a:hover {
  background-color: #f3ecec;
}

/* Muestra el dropdown al pasar el mouse */
.dropdown:hover .dropdown-content {
  display: block;
}