body{
    background: linear-gradient(135deg, #d6d0d0 200%, #faf4f4 100%);
}
.color-nav{
    display: flex;
    background-color: #3d3d3d;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
    justify-content: space-around;
}  
a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    justify-content: space-between;
}
header{
    display: flex;
}
p{
    color: black;
}
.titulosnosotros{
    background-color: #3d3d3d;
    padding: 1px;
    width: 130px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}
.titulosnosotros p{
    color: white;
}